<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ratestation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RateStation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RateStation">

        <!-- SPLASH: pantalla principal -->
        <activity
            android:name=".Activities.Activity_Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registro con opciones -->
        <activity android:name=".Activities.Activity_Login" />

        <!-- Crear cuenta -->
        <activity android:name=".Activities.Activity_CreateAccount" />

        <!-- Iniciar sesión -->
        <activity android:name=".Activities.Activity_Sign" />

        <!-- (Opcional) Activity_Main si la app continúa ahí después del login -->
        <activity android:name=".Activities.Activity_Main" />

        <activity android:name=".Activities.Activity_Pelicula" />
        <activity android:name=".Activities.Activity_Serie" />
        <!--<activity android:name=".Activities.Activity_Videojuego" />-->
        <!--<activity android:name=".Activities.Activity_Podcast" />-->

    </application>

</manifest>